[submodule "wordpress"]
	path = wordpress
	url = git://github.com/WordPress/WordPress.git
[submodule "content/plugins/google-analytics-for-wordpress"]
	path = content/plugins/google-analytics-for-wordpress
	url = git://github.com/Yoast/google-analytics-for-wordpress
[submodule "content/plugins/infinite-scroll"]
	path = content/plugins/infinite-scroll
	url = git://github.com/paulirish/infinite-scroll.git
[submodule "content/plugins/jetpack"]
	path = content/plugins/jetpack
	url = git://github.com/Automattic/jetpack
[submodule "content/themes/decode"]
	path = content/themes/decode
	url = git://github.com/ScottSmith95/decode.git
